<div id="counter">{{stopWatch?.value || 0}}</div>
<div id="controls">
    <fieldset>
        <legend>Setup</legend>
        <button (click)="start()"
                type="button"
                id="start">start</button>
        <button (click)="pause()"
                type="button"
                id="pause">pause</button>
        <button (click)="reset()"
                type="button"
                id="reset">reset</button>
    </fieldset>
    <fieldset>
        <legend>Count</legend>
        <button (click)="countUp()"
                type="button"
                id="countup">count up</button>
        <button (click)="countDown()"
                type="button"
                id="countdown">count down</button>
    </fieldset>
    <fieldset>
        <legend>Set to</legend>
        <input [formControl]="setToCtrl"
               id="value" />
        <br />
        <!-- <button type="button"
                    id="setto">set value</button> -->
    </fieldset>
    <fieldset>
        <legend>Speed</legend>
        <input [formControl]="speedCtrl"
               id="speed" />
        <br />
        <!-- <button type="button"
                    id="setspeed">set speed</button> -->
    </fieldset>
    <fieldset>
        <legend>Increase</legend>
        <input [formControl]="increaseCtrl"
               id="increase" />
        <br />
        <!-- <button type="button"
                    id="setincrease">set increase</button> -->
    </fieldset>
</div>
