<nav class="navbar navbar-inverse no-radius">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#">Games4Jed</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/']">Dynamic Tree</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/alphabet-invasion']">Alphabet Invasion</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/practice">Practice</a>
            </li>
        </ul>
    </div>
</nav>
