<nav class="navbar navbar-inverse no-radius">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#">Games4Jed</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/']">DynamicTree</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/alphabet-invasion']">AlphabetInvasion</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/countdown']">CountDown</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/progress-bar']">Progress Bar</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/lockscreen']">LockScreen</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/swipe-refresh']">SwipeRefresh</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/save-indicator']">SaveIndicator</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/stop-watch']">StopWatch</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/type-ahead']">TypeAhead</a>
            </li>
        </ul>
    </div>
</nav>
