<div>
        <b>Time remaining:</b><span> &nbsp;<b>{{ remainingTime }}</b></span>
        <br><br>
</div>
<button type="button"
        #pauseTimer>Pause</button>
<button type="button"
        #resumeTimer>Resume</button>

<div>
        <hr>
        <button type="button"
                #redBtn>Red</button>
        <button type="button"
                #blueBtn>Blue</button>
        <br><br>
        <span>Red: {{ redCount }}</span>
        <br>
        <span>Blue: {{ blueCount }}</span>
        <br>
        <span>Total: {{ totalCount }}</span>
</div>
