.docs-tree {
    position: relative;

    &__node {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-left: 0.5rem;
    }
    
    li {
        padding: 0.5rem;
        cursor: pointer;
        list-style-type: none;
    }

    &__node-name {
        display: block;
        height: 100%;
    }

    &__node-name:hover {
        background: rgb(247, 247, 247);
    }

    &__icons {
        position: absolute;
        top: -2rem;
        left: -3rem;
        color: gray;

        .mdi-file-document {
            position: relative;
            right: -1rem;
        }
    }

    &__caret {
        cursor: pointer;
        user-select: none;
    }

    &__caret::before {
        content: "\25B6";
        display: inline-block;
        position: relative;
        top: -0.2rem;
        margin-right: 0.3rem;
        font-size: 1rem;
    }

    &__caret-down::before {
        transform: rotate(90deg); 
    }
}